@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Mission 3 Assignment";
}



<h1>Kellie Bruner</h1>
<img src="img/brooklynbridge.jpg" width="300"/>
<p>My hopes for IS 413:</p>
<ul>
    <li>Become a pro at ASP.NET</li>
    <li>Become more confident in my IS skills overall</li>
    <li>Stay ahead and always have the videos watched</li>
    <li>Not be afraid to ask questions</li>
</ul>
<p>Jobs I'm interested in pursuing:</p>
<ul>
    <li>Data Analyst</li>
    <li>Project Management</li>
    <li>Software Developer</li>
</ul>


